            /* -------------SLIDER--- PRIMA SCELTA*/
            /* .min-max-slider {position: relative; width: 100%; text-align: center; margin-bottom: 0px;}
            .min-max-slider > label {display: none;}
            span.value {height: 1.7em; font-weight: bold; display: inline-block;}
            span.value.lower::before {content: "Livello minimo:\00a0"; display: inline-block;}
            span.value.upper::before {content: "Livello massimo:\00a0"; display: inline-block; margin-left: 0.4em;}
            .min-max-slider > .legend {display: flex; justify-content: space-between;}
            .min-max-slider > .legend > * {font-size: small; opacity: 0.25;}
            .min-max-slider > input {cursor: pointer; position: absolute;} */

            /* .min-max-slider > input {
            -webkit-appearance: none;
            outline: none!important;
            background: transparent;
            background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, silver 30%, silver 60%, transparent 60%, transparent 100%);
            } */
            /* .min-max-slider > input::-webkit-slider-thumb {
            -webkit-appearance: none; 
            appearance: none;
            width: 14px; 
            height: 14px; 
            background: #eee; 
            cursor: pointer; 
            border: 1px solid gray;
            border-radius: 100%;
            }
            .min-max-slider > input::-webkit-slider-runnable-track {cursor: pointer;} */



            /* ----------SLIDER SCELTA DUE----------------- */
/* *, *:before, *:after {
  box-sizing: border-box;
} */

/* body {
  font-family: sans-serif;
  padding: 60px 20px;
}
@media (min-width: 600px) {
  body {
    padding: 60px;
  }
} */

.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 4px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #747272;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1d1abc;
}
.range-slider__range::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border: 0;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1d1abc;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1d1abc;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 80px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #4871a3;
  padding: 5px 10px;
  margin-left: 2px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: "";
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}