
.my_bg_color{
    background-color: rgb(31, 146, 69);
}

.my_btn {
    max-width: 30rem;
    color: rgb(0, 0, 0);
    margin: 50px auto;
}

.my_txt_white {
    color: white;
}
.my_background {
    background-image: url(../img/new_basil.jpg);
    background-size: cover;
}

.my_card {
    max-width: 40em;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6)
} 

.my_form-group {
    margin: 10px auto;
    max-width: 30rem;
}

/* .showElement {
  display: contents;


} */


/* ----GEOCODING STYLE----- */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 400px;
        width: 700px;
        margin-left: 10px;
        border-radius: 2%;
      }
      #map2 {
        height: 400px;
        width: 700px;
        margin-left: 10px;
        border-radius: 2%;
      }
      @media screen and (max-width:921px) {
        #map {
          height: 400px;
          width: 600px;
        }
      }
      @media screen and (max-width:915px) {
        #map {
          height: 400px;
          width: 500px;
        }
      }
      @media screen and (max-width:820px) {
        #map {
          height: 300px;
          width: 300px;
        }
      }
      @media screen and (max-width:400px) {
        #map {
          height: 200px;
          width: 200px;
        }
      }



      
      /* Optional: Makes the sample page fill the window. */
      /*
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
*/
      #pac-input {
        background-color: #fff;
        /* font-family: Roboto; */
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
        /* width: 400px; */
      }
      
      #pac-input:focus {
        border-color: #4d90fe;
      }
      

